@import "./variables";

main {
    // background-color: #69dc9e;
    height: calc(100vh - 55px);
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.postimg.cc/jjrnSnvB/background-main.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        width: 100%;
    }
    .card {
        background-color: transparent !important;
        border: none;

        .card-header {
            border-radius: 1rem;
            background-color: #9fc131; // TERTIARY_COLOR
            color: white;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            text-transform: uppercase;
        }

        .card-body {
            padding: 5rem 0;
            border-radius: 1rem;
            background-color: #9fc131; // TERTIARY_COLOR
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);

            .btn-login {
                background-color: #dbf227 !important; // YELLOW_COLOR

                &:hover {
                    background-color: #042940 !important; // BLUE_COLOR
                    color: white;
                }
            }

            .btn-link, .btn-submit {
                color: #005c53 !important; // BLUE_MARINE_COLOR
                text-decoration: underline;
                font-weight: 900;

                &:hover, .btn-submit:hover {
                    color: #042940 !important; // BLUE_COLOR
                }
            }

            .form-check-input:checked {
                background-color: #042940 !important; // BLUE_COLOR
            }
        }
    }
}
