:root{
    --PrimaryColor: #042940;  /*BLUE */
    --SecondaryColor:#005C53; /*BLUE MARINE */
    --TertiaryColor:#9FC131; /* LIME GRAY */
    --QuaternaryColor:#DBF227; /*YELLOW */
    --QuintiaryColor:#D6D58E; /* SAND */
}